<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Plugin1.Properties.Settings.testConnectionString"
            connectionString="server=localhost;user id=root;password=danuska;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>